go 1.20

use (
  ./01-simple-go-plugin
  ./02-ready-to-use-host-functions
  ./04-go-host-application
  ./06-first-http-server
  ./07-second-http-server
  ./08-better-http-server
  ./12-simple-go-mem-plugin
)


// go work sync