go 1.21.1

use (
	./00-hello-world
	./01-simple-go-plugin
	./02-ready-to-use-host-functions
	./05-go-host-application
	./backups/06-first-http-server
	./backups/07-second-http-server
	./06-http-server
	./backups/09-go-host-functions
	./backups/12-simple-go-mem-plugin
	./backups/20-go-handler-plugin
	./go-sdk
	./go-sdk/plugins/config
	./go-sdk/plugins/exit
	./go-sdk/plugins/fs
	./go-sdk/plugins/host
	./go-sdk/plugins/http
	./go-sdk/plugins/log
	./go-sdk/plugins/sleep
	./go-sdk/plugins/var
	
	./07-host-function
	./08-go-plugin

	./backups/30-go-host-function-get-string
	./backups/31-go-host-function-print
	./backups/40-simple-go-plugin
	./backups/41-simple-go-plugin

)

// go work sync
